<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--扫描指定包下的标注的类到容器中，成为一个组件-->
    <context:component-scan base-package="com.abucloud"/>

    <!--springMVC三大组件：视图解析器、处理器映射器、处理器适配器-->

    <!--开启springMVC注解，本质上是配置处理器映射器、处理器适配器-->
    <mvc:annotation-driven/>

    <!--配置视图解析器-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--页面所在目录-->
        <property name="prefix" value="/WEB-INF/pages/"/>
        <!--页面后缀-->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--配置文件解析器，id必须叫multipartResolver-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置上传文件的最大尺寸为 5MB -->
        <property name="maxUploadSize" value="5242880"/>
    </bean>

    <!--配置拦截器-->
    <mvc:interceptors>

        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <!--<mvc:exclude-mapping path=""/>-->
            <bean id="loginInterceptor" class="com.abucloud.interceptor.LoginInterceptor"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <!--<mvc:exclude-mapping path=""/>-->
            <bean id="loginInterceptor2" class="com.abucloud.interceptor.Login2Interceptor"/>
        </mvc:interceptor>

    </mvc:interceptors>


</beans>